<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>TP02</h1>
  <ul>
    <li><a href="/punto15?anio=21/12/2003&nombre=Lucas">Punto15_TP01</a></li>
    <li><a href="/punto17">Punto17_TP01</a></li>
    <li><a href="/punto_3">Punto3_TP02</a></li>
    <li><a href="/punto_4">Punto4_TP02</a></li>
    <li><a href="/punto_5">Punto5_TP02</a></li>
    <li><a href="/punto_6">Punto6_TP02</a></li>
    <li><a href="/punto_7">Punto7_TP02</a></li>
  </ul>
</body>
</html>