<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto3</title>
</head>
<body>
  <h1>Nombre y apellido del alumno <span th:text="${Nombre}"></span> <span th:text="${Apellido}"></span></h1>
  <h3>Su Libreta Universitaria es <span th:text="${Libreta}"></span></h3>
  <h3>Su promedio es <span th:text="${Promedio}"></span></h3>
  <h3>Su nota maxima es <span th:text="${Maxima}"></span></h3>
  <h2><a href="/Menu">Menu</a></h2>
</body>
</html>