<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto 17</title>
</head>
<body>
  <h1>Punto 17</h1>
  <h3>fecha1 es <span th:text="${fecha1}"></span></h3>
  <h3>fecha2 es <span th:text="${fecha2}"></span></h3>
  <h3>La hora1 es <span th:text="${time1}"></span></h3>
  <h3>La hora2 es <span th:text="${time2}"></span></h3>
  <h3><span th:text="${comparar}"></span></h3>
  <h3>La fecha1 y la hora1 son <span th:text="${datetime}"></span></h3>
  <h3>La fecha2 y la hora2 son  <span th:text="${datetime2}"></span></h3>
  <h3>La edad es <span th:text="${edad}"></span></h3>
  <h3>La suma de 365 dias es <span th:text="${anio}"></span></h3>
  <h3>La suma de 6 meses es <span th:text="${meses}"></span></h3>
  <h2><a href="/Menu">Menu</a></h2>
</body>
</html>