<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto4</title>
</head>
<body>
  <h1>el primer numero es  <span th:text="${numero1}"></span></h1>
<h1>El segundo numero es  <span th:text="${numero2}"></span></h1>
<h1>El tercer numero es  <span th:text="${numero3}"></span></h1>
<h1>El cuarto numero es  <span th:text="${numero4}"></span></h1>
<h1>El quinto numero es  <span th:text="${numero5}"></span></h1>
<h1>El el sexto numero es  <span th:text="${numero6}"></span></h1>
<h1>El septimo numero es  <span th:text="${numero7}"></span></h1>
<h1>El octavo numero es  <span th:text="${numero8}"></span></h1>
  <h2><a href="/Menu">Menu</a></h2>
</body>
</html>