<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Punto15</title>
</head>
<body>
  <h1>Edad de la persona <span th:text="${nombre}"></span></h1>
  <h3>Su edad es <span th:text="${edad}"></span></h3>
  <h3>Su Signo es <span th:text="${Signo}"></span></h3>
  <h3>La estacion es <span th:text="${estacion}"></span></h3>
  <h2><a href="/Menu">Menu</a></h2>
</body>
</html>